<html>
<head>
	<title>This is the title</title>
	<style>
	 body {background-color: #00FF00;}
	 h1 {color: #0000FF; background-color: #FF0000}
<% name = "Dre" %>
<h1>Welcome to my page!</h1>
<p><%= Time.now %></p>
<p>Another pargraph</p>
<p>Here is a link: <a href="http://facebook.com">link</a></p>
<a href="http://www.ruby-lang.org/"><img src="http://www.ruby-lang"